/*
    Created on : Oct 26, 2018, 9:47:57 PM
    Author     : Amali Krigger
*/

@import url('https://fonts.googleapis.com/css?family=Muli');

 :root {
	--primaryBlue: #22AAA1;
  --font-size: 16px;
  --line-height: 1;
  --lines-to-show: 9;
}

html {
	box-sizing: border-box;
	color: #272727;
}

body {
	background-image: url(../img/background.png) !important;
	background-position: center center;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-attachment: fixed;
	color: #404040;
	font-family: "Muli", "Helvetica Neue", Arial, "Helvetica", sans-serif;
	font-size: 12px;
	margin: 0;
  position: relative;
}

body::before {
  content: ' ';
  display: block;
  background-image: url(../img/background.png) !important;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; // This is pretty important.
}

.grid-container-1 {
	display: grid;
	grid-template-rows: repeat(auto-fit, [row] minmax(70px, 1fr));
	grid-template-columns: repeat(12, [col] 1fr);
	grid-auto-rows: minmax(70px, 1fr);
}

.grid-container-2 {
  display: grid;
  grid-auto-flow: row;
  width: 100vw !important;
  max-width: 100% !important;
  grid-row-gap: 10px;
}

.media-object {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  grid-row-gap: 50px;
}

/* Logo */

.logo {
	position: absolute;
	z-index: 3;
	left: 20px;
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 3;
  background-color: (0, 0, 0, 0);
}

.logo a {
	font-family: "Muli", "Helvetica Neue", Arial, "Helvetica", sans-serif;
	color: var(--primaryBlue);
	font-size: 20px;
	text-decoration: none;
  opacity: 1;
}

/* Navigation Bar */

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar {
  font-size: 1.1rem;
  opacity: 0;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s;
  min-height: 75px;
  -webkit-box-shadow: 0 7px 6px -6px #999;
  -moz-box-shadow: 0 7px 6px -6px #999;
  box-shadow: 0 7px 6px -6px #999;
}

.navbar:hover {
  opacity: 1;
}

.navbar:hover + .logo {
  opacity: 0;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primaryBlue) !important;
}

.navbar-brand {
  color: var(--primaryBlue) !important;
}

.navbar-toggler {
  border: none !important;
}

button.navbar-toggler:focus, button.navbar-toggler:active {
  outline: 0px;
}

.fa-facebook-f, .fa-twitter {
  color: white;
  margin-left: 1rem;
}

.fa-facebook-f:hover, .fa-twitter:hover {
  color: var(--primaryBlue);
}

.bg-dark {
  background: linear-gradient(rgba(16, 16, 16, 0.9) 0%, rgba(49, 49, 49, 0.9) 100%) !important;
}

.menu-social li {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
}

.dropdown-menu {
  transform: translateY(25px);
  background: linear-gradient(rgba(16, 16, 16, 0.9) 0%, rgba(49, 49, 49, 0.9) 100%) !important;
}

.dropdown-item {
  display: block;
  font-size: 18px;
  padding: 10px 20px;
  border-bottom: solid 1px #424242;
  color: white;
  text-decoration: none;
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--primaryBlue);
  color: #000000;
  text-shadow:
    0 0 5px #17fefe,
    0 0 10px #17fefe,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
}

.dropdown-item:focus {
  background-color: var(--primaryBlue);
}

a:hover, a:active, a:focus {
  outline: 0;
}

/* Sidebar */

.sidebar {
	position: fixed;
	height: auto;
	left: -350px;
  top: 75px;
	width: 100vw;
	z-index: 1031;
	background: linear-gradient(rgba(16, 16, 16, 0.9) 0%, rgba(49, 49, 49, 0.9) 100%);
	display: none;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar ul a {
	display: block;
	font-size: 18px;
	padding: 10px 5px;
	border-bottom: solid 1px #424242;
	color: white;
	text-decoration: none;
	text-align: center;
}

.sidebar ul .dropdown-menu {
  margin-top: 0;
  width: 100%;
}

/* Sidebar Button */

.sidebarbtn:hover .fas {
	color: var(--primaryBlue);
}

.sidebarbtn,
.sidebarbtn:active,
.sidebarbtn:focus {
	background: none;
	border: none;
	outline: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
}

/* Nav Icons */

.fas {
	font-size: 25px;
	color: white;
	cursor: pointer;
}

li a:hover,
.fas:hover {
	color: var(--primaryBlue);
}

main {
	grid-column: 1 / -1;
	grid-row: 1 / span 5;
}

/* Site Description */

.description {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 30px 80px;
  color: white;
  box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  margin: 25px;
}

.description h1 {
  font-size: 30px;
}

.description p {
  font-size: 20px;
}

/* Footer */

footer {
  display: grid;
  height: 150px;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(16, 16, 16, 0.9) 0%, rgba(49, 49, 49, 0.9) 100%);
}

.fa-times {
  color: var(--primaryBlue);
  font-size: 25px;
  text-shadow: none;
}

.fa-chevron-circle-up {
  font-size: 50px;
}

.close {
  opacity: 1 !important;
}

.fa-times:hover {
  color: red;
}


/* Slide Navigation Icons */

.slidenav__item--prev {
	animation: 1.3s ease-out 0s 1 slideInFromLeft;
  -webkit-animation: 1.3s ease-out 0s 1 slideInFromLeft;
}

.slidenav__item--next {
	animation: 1.3s ease-out 0s 1 slideInFromRight;
  -webkit-animation: 1.3s ease-out 0s 1 slideInFromRight;
}

.fa-angle-right, .fa-angle-left {
  color: black;
  text-shadow:
    0 0 5px #17fefe,
    0 0 10px #17fefe,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
  font-size: 50px;
}

button.slidenav__item:hover .fa-angle-right, button.slidenav__item:hover .fa-angle-left{
  color: #fff;
  text-shadow:
}

.steamDiv {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px auto 50px auto;
  max-width: 100vw;
}

/* Modal */

.modal-content {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  background-color: black;
}

.modal-header {
  background: linear-gradient(rgba(16, 16, 16, 1) 0%, rgba(49, 49, 49, 1) 100%);
  color: white;
  border-bottom-color: var(--primaryBlue);
  display: flex;
  justify-content: center;
}

.modal-header .modal-title {
  position: absolute;
  align-self: center;
  font-size: 28px;
}

.modal-header button:hover{
  color: blue;

}

.modal-header button{
  color: var(--primaryBlue);
}

.modal-body {
  background: linear-gradient(rgba(16, 16, 16, 1) 0%, rgba(49, 49, 49, 1) 100%);
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
}

.modal-body p {
  margin-top: 10px;
  font-size: 18px;
}

.modal-body .slideshow-container p {
  margin: 0 !important;
}

.modal-footer {
  border: none;
  height: 100%;
}

button.close:focus, button.close:active{
  outline: none !important;
}

.directional-wrapper {
  width: 100%;
  max-width: 100px;
  height: 100px;
}


.modal-footer img {
  margin: 0 auto;
  width: 700px;
  min-width: 225px;
  margin-bottom: 20px;
}

/* New Features */

.feature-wrapper {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  background-color: rgba(0, 0, 0, 1);
  padding: 20px;
  border-radius: 10px;
}

.feature {
  width: 100%;
  height: 440px !important;
  display: flex;
  color: white;
  font-size: 14px;
  flex-direction: column;
  background: linear-gradient(rgba(16, 16, 16, 0.9) 0%, rgba(49, 49, 49, 0.9) 100%) !important;;
  border-radius: 10px;
  padding: 40px 45px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.feature > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  text-align: center;
  font-size: 1.3rem;
}

hr {
  border: 1px solid var(--primaryBlue);
  width: 100%;
}

.feature-text {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto 15px;
  text-align: center;
}

 .feature-text-invisible {
  display: none;
}

.feature-button {
  max-width: 250px;
  max-height: 40px;
  margin: 10px auto;
  width: 100%;
}

.btn-primary:focus, .btn-primary:active{
  outline: none !important;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primaryBlue);
  border-color: var(--primaryBlue);
}

.btn-primary:hover {
  background-color: var(--primaryBlue);
  border-color: var(--primaryBlue);
  color: white;
  text-shadow:
    0 0 5px #17fefe,
    0 0 10px #17fefe,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px #fff
}

/* Neon Colors */

/*.neon_cyan {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}*/

.neon-text {
  color: #fff;
  text-shadow:
    0 0 5px #17fefe,
    0 0 10px #17fefe,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
}

/* Key Frames */

@keyframes slideUp {
  100% {
    transform: translateY(-10px);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes float {
  10% { transform: translateY(30px); }
  20% { transform: translateY(-30px); }
  30% { transform: translateY(30px); }
  40% { transform: translateY(-30px); }
  50% { transform: translateY(30px); }
  60% { transform: translateY(-30px); }
  70% { transform: translateY(30px); }
  80% { transform: translateY(-30px); }
  90% { transform: translateY(30px); }
  100% { transform: translateY(-30px); }
}

/* Media Queries */

@media (min-width: 2090px) {
  .feature-text {
    font-size: 16px;
  }
}

@media (min-width: 2000px) {
  .feature-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-height: 1200px) {
  main {
    grid-row: 1 / span 16;
  }
}

@media (max-width: 1920px) {
  .feature-text {
    font-size: 15px;
  }
}

@media (max-width: 1840px) {
  .feature-text {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .navbar {
    opacity: 1;
  }

  .logo {
    opacity: 0;
  }
}

@media (max-width: 997px) {
  .modal-body p {
    font-size: 16px;
  }

  .navbar {
    font-size: 1.5rem;
  }
}

@media (max-height: 640px) {
  main {
    grid-row: 1 / span 5;
  }
}

@media (max-height: 820px) {
  .dropdown-menu {
    transform: translateY(0px);
    overflow-y: auto;
    max-height: 250px;
  }
}

@media (max-height: 570px) {
  .dropdown-menu {
    position: unset;
    max-height: 110px;
  }
}

@media (max-width: 976px) {
  .prev, .next {
    align-self: flex-end;
  }
}

@media (max-width: 898px) {}

@media (max-width: 822px) {

  .fa-angle-right, .fa-angle-left {
    font-size: 40px;
  }

}

@media (max-width: 800px) {

  .fa-angle-right, .fa-angle-left {
    font-size: 40px;
  }

  footer {
    height: 100px;
  }

  .fa-chevron-circle-up {
    font-size: 50px;
  }


}

@media (max-width: 716px) {
  .description h1 {
    font-size: 25px;
  }
  .description p {
    font-size: 18px;
  }
}

@media (max-width: 700px) {

  main {
    grid-column: 1 / -1;
    grid-row: 1 / span 4;
    z-index: 1;
  }

  .description {
    padding: 25px 20px;
  }

  .description h1 {
    font-size: 20px;
  }

  .description p {
    font-size: 16px;
  }

  .fab {
    font-size: 25px;
  }

  .fa-atom, .fa-galactic-republic {
    color: white;
    opacity: 0.7;
    font-size: 60px;
  }

  iframe {
    width: 500px;
  }
}

@media (max-width: 550px) {

  iframe {
    width: 350px;
  }

}

@media (max-width: 416px) {

  .grid-container-2 {
    padding: 20px 5px;
  }

  iframe {
    width: 300px;
  }

  .feature-wrapper {
    padding: 25px;
  }

  .modal-body {
    font-size: 12px;
  }

  .modal-header .modal-title {
    font-size: 20px;
  }

  .fa-times{
    font-size: 22px;
  }

  .feature-text {
    font-size: 13px;
  }

  .modal-body p {
    font-size: 14px;
  }
}

@media (max-width: 370px) {

  .feature-wrapper {
    padding: 5px;
  }

}

@media (max-width: 330px) {
  .description h1 {
    font-size: 20px;
  }

  .description p {
    font-size: 15px;
  }

  .sidebar {
    overflow-y: auto;
  }

  .modal-header .modal-title {
    font-size: 18px;
  }

  footer {
    height: 80px;
  }

  .fa-chevron-circle-up {
    font-size: 40px;
  }

}

@media (max-width: 300px) {

  .grid-container-2 {
    padding: 20px 1px;
  }

}
