.navbar {
  width: 100vw;
  max-width: 100%;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  font-size: 14px;
  color: white;
  box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  max-width: 560px;
  margin: 50px auto;
}

.logo {
  top: 20px;
}

h4 {
  color: var(--primaryBlue);
}

ul.features {
  margin-top: 20px;
  padding: 0px 15px;
}

ul.features li {
  margin-bottom: 20px;
}

@media (max-width: 564px) {
  .content {
    margin: 0px auto;
  }
}

@media (max-width: 600px) {
  .fab {
    margin-top: 5px;
  }
}

@media (min-width: 1920px) {
  .content {
    font-size: 1vw;
    max-width: 40%;
    margin: 0px auto;
  }
}
