
.mySlides {
  margin: 0;
}

.modal-footer {
  padding-left: 0;
  padding-right: 0;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: black;
  text-shadow:
    0 0 5px #17fefe,
    0 0 10px #17fefe,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 50px #fff;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #fff !important;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fades;
  -webkit-animation-duration: 1.5s;
  animation-name: fades;
  animation-duration: 1.5s;
}

@-webkit-keyframes fades {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fades {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 500px) {
  .prev, .next {font-size: 40px}
}

@media only screen and (max-width: 330px) {
  .prev, .next {font-size: 30px}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}
