.navbar {
  width: 100vw;
  max-width: 100%;
}

.presskitdiv {
  display: grid;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  grid-row-gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.presskit {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 30px 80px;
  color: white;
  box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  max-width: 560px;
}

.download_link {
  display: block;
  margin: 15px;
  font-size: 18px;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  font-size: 14px;
  color: white;
  box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  max-width: 560px;
}

.logo {
  top: 20px;
}

@media (max-width: 700px) {
  iframe {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 564px) {
  .content {
    margin: 0px 20px;
  }

  .presskit {
    margin: 0px 20px;
  }
}

@media (max-width: 600px) {
  .fab {
    margin-top: 5px;
  }
}

@media (min-width: 1920px) {
  .content {
    font-size: 1vw;
    max-width: 40%;
    margin: 0px auto;
  }
}
